<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${title}">Insert title here</title>
</head>
<body>
  <h1 th:text="${title}">仮のタイトル</h1>
  <h2 th:text="${complete}"></h2>
<!--  @{/inquiry/confirm}とすると ドメイン名/inquiry/confirm と同じになる。-->
<!--  methodをpostにすることで入力するデータをheader情報に含める -->
<!--  input要素のname と InquiryForm classのフィールドが一致していることを確認 -->
  <form method="post" action="#" th:action="@{/inquiry/confirm}" th:object="${inquiryForm}">
    <label for="name">お名前:</label>
    <!--  th:objectを設定することによりページに戻ってきた際にも値を残すことができる  -->
    <!--  *{name}でth:object で設定したobjectの中身を取得  -->
    <input id="name" name="name" type="text" th:value="*{name}"><br>
    <!--  #fieldsは自動でValidateした時にエラーがあれば作られる  -->
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <label for="email">メール:</label>
    <input id="email" name="email" type="text" th:value="*{email}"><br>
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <label for="contents">詳細　:</label>
    <textarea name="contents" id="contents" rows="3" cols="40" th:field="*{contents}"></textarea><br>
    <div th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}"></div>
    <input type="submit" value="確認ページへ">
  </form>
</body>
</html>
